.landing-footer-dash {
	display: block;
	width: 100%;
	border-top: 5px solid #000;
	padding: 3em 0;
}

.landing-footer-information,
.landing-footer-copyright {
	line-height: 1.5;
	font-size: 1.1em;
	display: block;
}

/*.landing-footer-information {
	margin-top: 2em;
}*/

.landing-footer-copyright {
	margin-top: 1.2em;
}